/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q             &kp W               &kp E           &kp R  &kp T        &kp Y            &kp U       &kp I                &kp O                     &kp P                  &trans
&trans  &kp A             &kp S               &kp D           &kp F  &kp G        &kp H            &kp J       &kp K                &kp L                     &kp SEMI               &trans
&trans  &mt LEFT_SHIFT Z  &mt LEFT_CONTROL X  &mt LEFT_ALT C  &kp V  &kp B        &kp N            &kp M       &mt RIGHT_ALT COMMA  &mt RIGHT_CONTROL PERIOD  &mt RIGHT_SHIFT SLASH  &trans
                                              &mo 1           &mo 2  &kp SPACE    &lt 4 BACKSPACE  &kp RETURN  &mo 3
            >;
        };

        numberpad {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp FSLH   &kp N7  &kp N8   &kp N9  &kp MINUS  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp ASTRK  &kp N4  &kp N5   &kp N6  &kp PLUS   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp EQUAL  &kp N1  &kp N2   &kp N3  &kp FSLH   &trans
                        &trans  &trans  &trans    &trans     &kp N0  &kp DOT
            >;
        };

        function {
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10    &trans  &trans    &trans  &kp LBKT  &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11    &trans  &trans    &trans  &trans    &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12    &trans  &trans    &trans  &trans    &trans  &trans
                        &trans  &trans  &trans     &trans  &kp RBKT  &trans
            >;
        };

        direction {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &kp PAGE_UP    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP         &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &kp HOME  &kp PAGE_DOWN  &kp END    &trans  &trans
                        &trans  &trans  &trans    &trans    &trans    &trans
            >;
        };

        misc {
            bindings = <
&trans  &trans  &trans  &trans  &kp ESC  &trans     &trans  &kp UNDERSCORE  &kp PIPE  &kp DEL    &kp SPACE  &trans
&trans  &trans  &trans  &trans  &kp RET  &trans     &trans  &kp TILDE       &kp BSLH  &kp SQT    &trans     &trans
&trans  &trans  &trans  &trans  &trans   &trans     &trans  &kp MINUS       &kp FSLH  &kp GRAVE  &trans     &trans
                        &trans  &trans   &kp TAB    &trans  &trans          &trans
            >;
        };
    };
};
